# >>> Python basics
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# >>> Virtual environment
venv/
env/
ENV/
*.pyvenv.cfg

# >>> PyCharm
.idea/

# >>> OS-specific
.DS_Store
Thumbs.db

# >>> JSON or config files to ignore (tu peux ajouter des exceptions ici si tu veux les suivre)
# Ignore some JSON files (comme ceux pour la configuration des mails et employés)
# expl_employees.json
# mails.json

# >>> Temporary files
*.tmp
*.temp
tmp.*
*.bak
*.swp
.tmp.driveupload/
*.driveupload

# >>> Other
*.sqlite3
*.db
*.tar.gz
*.zip
*.rar
*.7z
*.gz

# >>> Test outputs
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
